<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>我的评价</string>
		<key>message</key>
		<string></string>
		<key>icon</key>
		<string>icon_mine_review</string>
		<key>flag</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>我的收藏</string>
		<key>message</key>
		<string></string>
		<key>icon</key>
		<string>icon_mine_liked_poi</string>
		<key>flag</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>我的地址</string>
		<key>message</key>
		<string></string>
		<key>icon</key>
		<string>icon_address_nearby</string>
		<key>flag</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>分享有礼</string>
		<key>message</key>
		<string></string>
		<key>icon</key>
		<string>icon_mine_share</string>
		<key>flag</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>商家入驻</string>
		<key>message</key>
		<string></string>
		<key>icon</key>
		<string>icon_mine_invest_restaurant</string>
		<key>flag</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>帮助与反馈</string>
		<key>message</key>
		<string></string>
		<key>icon</key>
		<string>icon_mine_help_feedback</string>
		<key>flag</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>在线客服</string>
		<key>message</key>
		<string></string>
		<key>icon</key>
		<string>icon_mine_service_robot</string>
		<key>flag</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>更多</string>
		<key>message</key>
		<string></string>
		<key>icon</key>
		<string>icon_mine_more</string>
		<key>flag</key>
		<true/>
	</dict>
</array>
</plist>
